<%- include("partials/header.ejs") %>
<form action="/publish" method="post">
    <button class="btn btn-lg btn-primary btn-block" type="submit">New Post</button>
</form>
<% if (locals.posts) { %>
<% for( let index = 0; index < posts.length; index++ ) { %>
<h2><a href="/posts/<%= posts[index].id %>"><%= posts[index].title %></a></h2>
<% } %>
<% } %>

<%- include("partials/footer.ejs") %>