<%- include("partials/header.ejs") %>
<form action="<% if (locals.post) { %>/update<% } else {%>/publish<%}%>" method="post">
    <input type="text" class="form-control" name="Title" placeholder="Title heading" required autofocus
        value="<%= (locals.post && locals.logged && locals.editable) ? post.title : '' %>">
    <input type="text" class="form-control" name="Body" placeholder="Body" required autofocus
        value="<%= (locals.post && locals.logged && locals.editable) ? post.content : '' %>">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Publish</button>
</form>
<%- include("partials/footer.ejs") %>